/* style */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", serif;
}
p {
  font-family: "Open Sans", serif;
  font-size: 14px;
  color: #7f7f90;
}
.fa-sun {
  display: none;
}
body:has(#Dark-mode:checked) {
  background-color: #37373f;
  color: #fff;
}
body:has(#Dark-mode:checked) .section1 {
  background-color: #5c5c69;
  p,
  h2 {
    color: #fff;
  }
}
body:has(#Dark-mode:checked) .section1 .nav {
  background-color: #42424a;
  a,
  h1 {
    color: #fff;
  }
}
body:has(#Dark-mode:checked) .section2 .chefs .chefs-contaner .chef {
  background-color: #000000;
  h5,
  p {
    color: #9090a2;
  }
}
body:has(#Dark-mode:checked) .section1 .buttons .fa-play {
  color: #000000;
}
body:has(#Dark-mode:checked) .section3 {
  background-color: #5c5c69;
  p,
  h2 {
    color: #fff;
  }
}
body:has(#Dark-mode:checked) .S1text .buttons .second-button .icon {
  background-image: linear-gradient(
    to right,
    #c17e1f 0% 50%,
    transparent 50% 100%
  );
}
body:has(#Dark-mode:checked) .Subscribe .Subscribe-input .Subscribe-btn {
  background-color: #c17e1f;
}
body:has(#Dark-mode:checked) .S1text .buttons .Fb1 {
  background-color: #c17e1f;
}
body:has(#Dark-mode:checked) .info-inputs-contaner button {
  background-color: #c17e1f;
}
body:has(#Dark-mode:checked) .numbers .icons {
  background-color: #c17e1f;
  .fa-envelope {
    color: #ffffff;
  }
  .fa-phone {
    color: #ffffff;
  }
}
body:has(#Dark-mode:checked)
  .section2
  .chefs
  .chefs-contaner
  .chef
  .chef-img::before {
  background-image: url(../images/team-shape-dark.svg);
}
body:has(#Dark-mode:checked) .nav-links li a::before {
  background-color: #c17e1f;
}
body:has(#Dark-mode:checked) .title span {
  color: #c17e1f;
}
body:has(#Dark-mode:checked) .fa-location-dot {
  color: #c17e1f;
}
body:has(#Dark-mode:checked) .fa-envelope {
  color: #c17e1f;
}
body:has(#Dark-mode:checked) .fa-phone {
  color: #c17e1f;
}
body:has(#Dark-mode:checked) .numbers {
  background-color: #46424a;
  h3,
  p {
    color: #fff;
  }
}
body:has(#Dark-mode:checked) .fa-sun {
  display: block;
}
body:has(#Dark-mode:checked) .fa-moon {
  display: none;
}

/*................ section1............. */
.section1 {
  min-height: 100%;
  background-color: #eeeeee;
  overflow: auto;
  padding-bottom: 10px;
}

.nav {
  width: 100%;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.106) 0px 0px 14px 0px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-contaner {
  width: 85%;
  margin: auto;
  padding: 25px 5px;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-size: 30px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.logo a::after {
  content: ".";
  color: #d10b0b;
}
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: black;
  position: relative;
}
body:has(#Home:target) .Home-link::before {
  width: 100% !important;
}
body:has(#Chefs:target) .Chefs-link::before {
  width: 100% !important;
}
body:has(#Gallery:target) .Gallery-link::before {
  width: 100% !important;
}
body:has(#Contact:target) .Contact-link::before {
  width: 100% !important;
}
.nav-links li a::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #d10b0b;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
.nav-links li a:hover::before {
  width: 100%;
}

.moon i {
  cursor: pointer;
  font-size: 25px;
}
/* *********************************************** */
.section1-contaner {
  width: 85%;
  margin: auto;
  margin-top: 10%;
}
.section1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.S1text {
  width: 40%;
}
.S1text h2 {
  font-size: 65px;
  color: #37373f;
}
.S1text p {
  font-size: 16px;
  color: #4f4f5a;
  margin: 20px 0px;
}
.S1text .buttons {
  display: flex;
  gap: 30px;
}
.S1text .buttons .Fb1 {
  background-color: #ce1212;
  border-radius: 0 50px 50px;
  border: none;
  padding: 10px 25px;
  transition: 0.4s;
}
.S1text .buttons .Fb1:hover {
  cursor: pointer;
  background-color: #ef1919;
}
.S1text .buttons .Fb1 a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.S1text .buttons .second-button a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.5s;
}
.S1text .buttons .second-button:hover {
  cursor: pointer;
}
.S1text .buttons .second-button:hover a {
  color: #ce1212;
}

.S1text .buttons .second-button {
  display: flex;
  align-items: center;
}
.S1text .buttons .second-button .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #ce1212 0% 50%,
    transparent 50% 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.S1text .buttons .second-button .icon::before {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}
.S1text .buttons .second-button .icon i {
  z-index: 2;
  transition: 0.5s;
}
.S1text .buttons .second-button:hover i {
  color: #ce1212;
}

.S1photo {
  width: 40%;
}
.section1-content .S1photo img {
  width: 100%;
  animation: shake 1s infinite;
  animation-play-state: paused;
  filter: drop-shadow(0 0 0.75rem #454550);
}
.section1-content .S1photo img:hover {
  animation-play-state: running;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* ...................section2.................. */
.section2 {
  padding: 50px 0px;
}
.section2 .title {
  margin-top: 50px;
  text-align: center;
}
.section2 .title p {
  font-size: 14px;
  color: #7f7f90;
}
.section2 .title h2 {
  font-size: 50px;
  font-weight: lighter;
}
.section2 .title h2 span {
  color: #ce1212;
}
/* ................................... */

.chefs .chefs-contaner {
  margin: auto;
  width: 90%;
  padding: 50px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.chefs .chefs-contaner .chef {
  width: 30%;
  transition: 0.5s;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.chefs .chefs-contaner .chef:hover {
  transform: scale(1.05);
}

.chefs .chefs-contaner .chef .chef-img img {
  width: 100%;
}
.chefs .chefs-contaner .chef .chef-img {
  position: relative;
}
.chefs .chefs-contaner .chef .chef-img::before {
  content: "";
  width: 100%;
  height: 130px;
  background-image: url(../images/team-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0%;
  left: 0;
}
.chefs .chefs-contaner .chef .chef-info {
  text-align: center;
  padding: 0px 20px 20px;
}
.chefs .chefs-contaner .chef .chef-info h2 {
  font-family: "Inter";
  font-size: 18px;
}
.chefs .chefs-contaner .chef .chef-info h5 {
  font-family: "Open Sans";
  font-size: 14px;
  color: #7f7f90;
  font-weight: lighter;
  padding: 10px;
}

.chef-img .social {
  background-color: #ffffff4d;
  position: absolute;
  top: 0;
  right: -100px;
  margin: 25px 5px;
  padding: 15px;
  color: #7f7f90;
  border-radius: 5px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.chefs .chefs-contaner .chef:hover .social {
  right: 0px;
}
.chefs .chefs-contaner .social ul {
  list-style: none;
}
.chefs .chefs-contaner .social li {
  padding-bottom: 10px;
}
.chefs .chefs-contaner .social li:hover {
  color: #37373f;
  cursor: pointer;
}
/*..................... section3...................... */
.section3 {
  padding: 50px 0px;
  background-color: #eeeeee;
}
.section3 .title {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.section3 .title p {
  text-transform: uppercase;
  font-size: 14px;
  color: #7f7f90;
}
.section3 .title h2 {
  font-size: 50px;
  font-weight: lighter;
}
.section3 .title h2 span {
  color: #ce1212;
}
/* .......................................... */
.Gallery {
  width: 90%;
  margin: auto;
}
.Gallery-contaner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.img img{
  display: block;
}
.Frist-row,
.second-row,
.third-row {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.Frist-row .img,
.second-row .img,
.third-row .img {
  border: 5px solid #fff;
  position: relative;
  overflow: hidden;
}

.Frist-row img,
.second-row img,
.third-row img {
  width: 100%;
  transition: 0.5s;
}

.Frist-row .img .info {
  width: 100%;
  height: 100%;
  background-color: #00000096;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.Gallery-contaner .Frist-row .img .info h4 {
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", serif;
}
.Gallery-contaner .Frist-row .img .info p {
  color: #fff;
}
.Gallery-contaner .Frist-row .img:hover .info {
  top: 0%;
}
.Gallery-contaner .Frist-row .img:hover img {
  transform: scale(1.08);
}
/* ......................... */
.second-row .img .info {
  width: 100%;
  height: 100%;
  background-color: #00000096;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.Gallery-contaner .second-row .img .info h4 {
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", serif;
}
.Gallery-contaner .second-row .img .info p {
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.Gallery-contaner .second-row .img:hover .info {
  top: 0%;
}
.Gallery-contaner .second-row .img:hover img {
  transform: scale(1.08);
}
/* ................... */
.third-row .img .info {
  width: 100%;
  height: 100%;
  background-color: #00000096;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.Gallery-contaner .third-row .img .info h4 {
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", serif;
  padding: 5px;
}
.Gallery-contaner .third-row .img .info p {
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.Gallery-contaner .third-row .img:hover .info {
  top: 0%;
}
.Gallery-contaner .third-row .img:hover img {
  transform: scale(1.08);
}
/*................ section4.................. */
.section4 {
  padding: 50px 0px;
}
.section4-contaner {
  width: 90%;
  margin: auto;
}
.section4 .title {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 50px;
}
.section4 .title p {
  text-transform: uppercase;
  font-size: 14px;
  color: #7f7f90;
}
.section4 .title h2 {
  font-size: 50px;
  font-weight: lighter;
}
.section4 .title h2 span {
  color: #ce1212;
}
/* .......................................... */
.map-contaner {
  width: 100%;
  margin: auto;
}
.map-contaner iframe {
  width: 100%;
}
/* .............................................. */
.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  gap: 15px;
}
.numbers {
  width: 46.5%;
  background-color: #f5f5f5;
  display: flex;
  padding: 20px;
}
.contacts-text {
  margin-left: 10px;
}

.contacts .numbers .contacts-text h3 {
  font-family: "Open Sans", serif;
  font-size: 20px;
  font-weight: 700;
  color: #7d7d7d;
  margin-bottom: 5px;
}
.contacts .numbers .contacts-text p {
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  margin-bottom: 5px;
}
.contacts .numbers .contacts-text p span {
  font-weight: 700;
}
.icons {
  background-color: #ef1919;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.contacts .numbers .icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ce1212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* .......................................... */
.info-inputs {
  margin: auto;
  padding-top: 10px;
  box-shadow: 0 0 1.875rem #00000034;
}
.info-inputs-contaner {
  margin-left: 20px;
  padding-bottom: 20px;
}
.info-inputs .F-row {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.info-inputs .F-row .in {
  width: 45.5%;
  margin-bottom: 10px;
}
.info-inputs .F-row .in input {
  width: 100%;
  padding: 15px;
  border: 1px solid #e8e3e2;
}
.info-inputs .in input[type="text"]:focus {
  border: 2px solid #ce1212;
}
.info-inputs .in input[type="email"]:focus {
  border: 2px solid #ce1212;
}
.info-inputs .in input {
  width: 95%;
  padding: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  border: 2px solid #e8e3e2;
  outline: none;
}

.info-inputs .in textarea {
  width: 95%;
  min-height: 150px;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  border: 1px solid #e8e3e2;
}

.info-inputs-contaner button {
  background-color: #ce1212;
  color: #fff;
  padding: 15px 40px;
  margin: 25px 0 0;
  border-radius: 50px;
  border: none;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.info-inputs-contaner button:hover {
  background-color: #ff1a1a;
  cursor: pointer;
}
/****************************** section5************************* */
.section5 {
  margin-top: 50px;
  background-image: url(../images/textured-metal-background.jpg);
  background-size: contain;
}
.footer-contaner {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 15px;
}
.Mealify {
  width: 25%;
  margin-top: 20px;
}
.Mealify .Mealify-title .Mealify-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Mealify .Mealify-title .Mealify-logo img {
  width: 40px;
  height: 40px;
}
.Mealify .Mealify-title .Mealify-logo h2 {
  font-size: 30px;
  font-weight: 400px;
  font-family: "Open Sans";
  color: #eeeeee;
}
.Mealify .Media {
  text-align: center;
}
.Mealify .Media h3 {
  font-size: 19px;
  font-weight: 700px;
  font-family: "Open Sans";
  color: #eeeeee;
  padding: 10px;
  border-bottom: 2px solid #ddd6;
}
.Mealify .Media ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
  padding: 5px 10px;
}
.Mealify .Media ul li a {
  color: #eeeeee;
}
.Mealify .Mealify-title P {
  font-size: 16px;
  font-weight: 100;
  font-family: "Open Sans";
  color: #eeeeee;
  margin: 10px 0;
}
.Mealify .Mealify-title .Mealify-logo h2::after {
  content: ".";
  color: #ce1212;
}
/* **************************** */
.Subscribe {
  width: 50%;
  margin-top: 20px;
}
.Subscribe h3 {
  font-size: 19px;
  font-weight: 700px;
  font-family: "Open Sans";
  color: #eeeeee;
  padding: 10px;
}
.Subscribe P {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans";
  color: #eeeeee;
  margin: 10px 0;
}
.Subscribe .Subscribe-input {
  display: flex;
  gap: 5px;
}
.Subscribe .Subscribe-input input {
  flex-grow: 1;
  padding: 10px;
  outline: none;
}
.Subscribe .Subscribe-input .Subscribe-btn {
  background-color: #ce1212;
  color: #eeeeee;
  border: none;
  padding: 10px 15px;
}
.Subscribe .quickL h3 {
  font-size: 19px;
  font-weight: 700px;
  font-family: "Open Sans";
  color: #eeeeee;
}
.Subscribe .quickL ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Subscribe .quickL ul li {
  width: 50%;
  transition-timing-function: ease;
  transition: width 2s;
}

.Subscribe .quickL ul .Menu:hover {
  width: 45%;
  background-color: #66656598;
}
.Subscribe .quickL ul .Promo:hover {
  width: 45%;
  background-color: #66656598;
}
.Subscribe .quickL ul .About-Us:hover {
  width: 45%;
  background-color: #66656598;
}
.Subscribe .quickL ul .Contact:hover {
  width: 45%;
  background-color: #66656598;
}
.Subscribe .quickL ul .Testimonial:hover {
  width: 45%;
  background-color: #66656598;
}
.Subscribe .quickL ul .Our-Partners:hover {
  width: 45%;
  background-color: #66656598;
}
.Subscribe .quickL ul a {
  text-decoration: none;
  color: #eeeeee;
}
/* ********************** */
.Get-in-Touch {
  width: 25%;
  margin-top: 20px;
}
.section5 .cover {
  width: 100%;
  background-color: #1b1b1f80;
}
.Get-in-Touch h3 {
  font-size: 19px;
  font-weight: 700px;
  font-family: "Open Sans";
  color: #eeeeee;
  padding: 10px;
}
.Address ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.Address ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}
.Address ul li i {
  color: #ce1212;
  padding-right: 8px;
}
.Address ul li p {
  color: #fff;
  padding-right: 5px;
}
.Address .klick:hover {
  cursor: pointer;
}
/* **************************************************** */
/* ................RWD section1...................... */
@media screen and (max-width: 950px) {
  .section1-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .S1text {
    width: 100%;
    text-align: center;
  }
  .S1photo {
    width: 100%;
    margin-top: 10%;
  }
  .S1text .buttons {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .nav-links ul {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .S1photo {
    margin-top: 15%;
  }
}
@media screen and (max-width: 450px) {
  .S1photo {
    margin-top: 17%;
  }
}
/* ................RWD section2...................... */
@media screen and (max-width: 900px) {
  .chefs .chefs-contaner .chef {
    width: 40%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 750px) {
  .chefs .chefs-contaner .chef {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* ................RWD section3...................... */
@media screen and (max-width: 970px) {
  .Frist-row,
  .second-row,
  .third-row {
    width: 100%;
  }
}
/* ................RWD section4...................... */
@media screen and (max-width: 1200px) {
  .info-inputs .F-row .in {
    width: 95%;
  }
}
@media screen and (max-width: 900px) {
  .info-inputs .F-row .in {
    width: 90%;
  }
  .info-inputs .in input {
    width: 90%;
  }

  .info-inputs .in textarea {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .info-inputs .F-row .in {
    width: 80%;
  }
  .info-inputs .in input {
    width: 80%;
  }

  .info-inputs .in textarea {
    width: 80%;
  }
}
/* ................RWD section5...................... */
@media screen and (max-width: 900px) {
  .footer-contaner {
    flex-wrap: wrap;
  }

  .Mealify {
    width: 100%;
  }
  .Subscribe {
    width: 100%;
  }
  .Get-in-Touch {
    width: 100%;
  }
}
